body {
    background-color: rgba(255,0,255,.1);
}
#container {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    background-color: rgba(0,0,0,.05);
    border-radius: 4px;
}
#block-container {
    flex: 9;
    padding: 16px;
}
.controls {
    flex: 1;
    text-align: center;
    padding: 8px;
}
.controls input, select, button {
    width: 5vw;
}
.row {
    display: flex;
    justify-content: right;
    align-items: center;
}
.block {
    margin: auto;
}